{{#each invalideditpost}}
    <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}
<h4>Edit post: </h4>
<div class="card">
    <div class="card-body">
            <form action="/admin/posts/edit/post" method="POST">
            <input type="hidden" name="id" value="{{post._id}}">
                <label for="alert">Alert: </label>
                    <input type="text" name="alert" class="form-control" value="{{post.alert}}">
                <label for="description">Description: </label>
                    <input type="text" name="description" class="form-control" value="{{post.description}}">
                <label for="contents">Contents: </label>
                    <textarea name="contents" class="form-control">{{post.contents}}</textarea>
                <label for="user">Alert for: </label>
                    <select name="user" class="form-select">
                        {{#each user}}
                            <option value="{{_id}}">{{name}} {{surname}}</option>
                        {{else}}
                            <option value="0">No user register</option>  
                        {{/each}}
                    </select>
            <button class="btn btn-success mt-4" type="submit">Edit post</button>
        </form>
    </div>
</div>